body {
    font-family: Roboto; 
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-decoration: none;
}



/* Header Code */
header {
    background-color: #1F2937;
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column; /* Keep elements vertical */
}

header nav {
    display: flex;
    justify-content: space-between; /* Nav links on the right */
    align-items: center; /* Align items center vertically */
    margin-bottom: 2rem; /* Close the gap */
    width: 100%;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    text-decoration: none;
    margin-right: 8rem;
}

header ul li a {
    text-decoration: none;
}

header ul li a , .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}
header .logo {
    font-weight: 900;
    font-size: 24px;
    color: #f9faf8;
    margin-left: 6rem;
}

header .main-heading {
    display: flex;
    gap: 2rem; /* Adjusted gap for spacing */
    align-items: center; /* Align items vertically center */
    justify-content: space-between; /* Space between left and right */
    padding: 2rem; /* Padding around the content */
    width: 100%;
}

.header-content-left {
    display: flex;
    flex-direction: column;
    gap: 0.5 rem; /* Adds spacing between elements */
    margin-left: 4rem;
}

.hero-main-text, .hero-secondary-text, header button {
    margin: 0; 
    text-align: left; /* Aligns text to the left */
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.2;
}

.hero-secondary-text {
    line-height: 1.2;
    margin-bottom: 0px;
}

.heading-image {
    background-color: lightgrey;
    margin-left: 1rem; /* Adds left margin to space the image */
    flex-shrink: 0; /* Prevents shrinking */
    width: 500px; /* Ensures the image placeholder doesn't shrink */
    padding: 6rem 2rem;
    text-align: center;
    margin-right: 10rem;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-weight: 600;
}







footer {
    background-color: #1F2937; /* Dark background color for the footer */
    color: #fff; /* White text color for the footer */
    text-align: center; /* Center-aligns the footer content */
    padding: 1rem 0; /* Padding for the footer */
    position: fixed; /* Fixes the footer at the bottom of the page */
    width: 100%; /* Ensures the footer spans the full width of the page */
    bottom: 0; /* Positions the footer at the bottom */
}

