body {
    font-family: Roboto; 
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-decoration: none;
}



/* Header Code */
header {
    background-color: #1F2937; 
    color: #fff;
    padding: 2rem; 
    display: flex;
    flex-direction: column; /* Added to stack header elements vertically, this is important!! */
}

header nav {
    background-color: antiquewhite;
    display: flex;
    margin-bottom: 10rem;
    width: 100%;
    height: 20%;
}
header .logo {
    background-color: hotpink;
    font-weight: 900;
    font-size: 24px;
    color: #f9faf8;
    display: flex;
   
}

header .main-heading {
    background-color: #3882f6;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 800px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    background-color: aquamarine;
    margin: 25px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    background-color: aqua;
    margin: 25px;
}

header .heading-image {
    background-color: lightgrey;
    margin: 25px;
}


.header-link {
    display: flex;
    border: 2px red;
    border-style: solid;
    justify-content: space-between;
}
header ul {
    list-style-type: none;
    background-color: white;
    display: flex;
    gap: 2rem;
    text-decoration: none;
    justify-content: space-between;
}

header ul li a {
    background-color: red;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

header button {
    background-color: #3c485a; 
    color: #fff;
    border: none; 
    padding: 1rem 2rem; 
    cursor: pointer; 
    margin: 25px;
}








footer {
    background-color: #1F2937; /* Dark background color for the footer */
    color: #fff; /* White text color for the footer */
    text-align: center; /* Center-aligns the footer content */
    padding: 1rem 0; /* Padding for the footer */
    position: fixed; /* Fixes the footer at the bottom of the page */
    width: 100%; /* Ensures the footer spans the full width of the page */
    bottom: 0; /* Positions the footer at the bottom */
}

