
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }

  #container { /*square container with fixed width/height*/
    margin: 20px auto;
    display: flex; 
    flex-wrap: wrap; /*display + flex-wrap allows squares to wrap onto new lines*/
    width: 960px;
    height: 960px;
    border: 1px solid #ccc;
  }

  .grid-square { /* each square will adjust its size based on number of squares per side*/
    flex: 1 0 auto;
    box-sizing: border-box;
    border: 1px solid #f0f0f0;
  }

